

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
  

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}


ul{
    list-style: none;
}

a{
    text-decoration: none;
}


.top-bar{
    display: flex;
    padding: 2px 0 2px 0;
    border-bottom: 1px solid white;
    background: #33691e;
}

.cont , 
.cont{
    margin: 0 40px;
    flex: 1 
}

.cont-iconos{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    
}


.expandable-holder{
    display: none;
    opacity: 0;
    transform: translateX(50px);
    transition: opacity .3s ease , 
    transform .3s ease, 
    display .3s ease allow-discrete;
}


.cont-menu-lenguage{
    display: none;
    opacity: 0;
    transform: translate(10px,-10px);
    position: absolute;
    right: 5.5rem;
    width: 200px;
    top: 2.1rem;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, .14), 
    0 3px 1px -2px rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .12);
    background: #fff;
    transition: opacity .3s ease , 
    transform .3s ease,
    display .3s ease allow-discrete;

}

.cont-menu-access{
    display: none;
    opacity: 0;
    transform: translate(10px,-10px);
    position: absolute;
    width: 200px;
    top: 2.1rem;
    z-index: 1;
    border-radius: 3px;
    box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, .14), 
    0 3px 1px -2px rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .12);
    background: #fff;
    transition: opacity .3s ease , 
    transform .3s ease, 
    display .3s ease allow-discrete; /* con esta nueva propiedad allow-dicrete agregamos transicion a el display */
}

/* transiciones a los menus el estilo se le agrega
    cuando el elemento tiene las clases .cont-menu-lenguage.cont-menu-toggle
*/
.cont-menu-lenguage.cont-menu-toggle,
.cont-menu-access.cont-menu-toggle{
    opacity: 1;
    transform: translate(0,0);
    transition: all .3s ease-in-out;

    /* nueva herramienta de css para poder agregar animaciones
        a el display block esto indica el estilo inicial que 
        va a tener el elemento
    */
    @starting-style{
        opacity: 0;
        transform: translate(10px, -10px);
    }
}


/* transiciones a el input busacar */
.expandable-holder.cont-menu-toggle{
    opacity: 1;
    transform: translateX(0);
    transition: all .3s ease-in-out;

    @starting-style{
        opacity: 0;
        transform: translateX(50px);
    }
}


.cont-menu-toggle{
    display: block;
}

.ctn_form_search{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search{
    cursor: pointer;
}

.menu_language,
.menu_access{
    border: none;
    background-color: #33691e;
    font-size: 1.2rem;
    cursor: pointer;
}

.bi-search,
.bi-globe,
.bi-universal-access{
    color: white;
}

/* estilos de la section buscar */
.section-b{
    display: flex;
    gap: 5px;
}

#search-input{
    outline: none;
    border-bottom: 2.5px solid rgb(77, 187, 77);
    border-top: 1px solid #33691e;
    border-left: 1px solid #33691e;
    border-right: 1px solid #33691e;
    background: #33691e;
}

/* estilos de los menu en los iconos */

.mdl-menu{
    padding: 8px 0;
}

.mdl-menu__item, .mdl-menu__item{
    padding: 0 20px;
}

.item{
    display: flex;
    padding: 10px 0;
    color: rgba(0, 0, 0, .87);
}

.icon {
    margin-left: auto;
}

.top_bar{
    display: flex;
    padding: 0 40px;
    background: #33691e;
}

.top_colm_equal{
    display: flex;
    flex: auto;
}

._rigth {
    display: flex;
    margin-left: auto;
    justify-content: flex-end;
    flex: auto;
}

.menu_item{
    font-size: 14px;
    color: #fafafa;
    padding: 10px;
}

.menu_item:hover{
    background:rgba(56, 56, 56, 0.2);
}

.custom{
    display: flex;
    justify-content: flex-end;
    padding: 10px 10px;
}

.box_logo{
    position: relative;
    display: flex;
}

._right{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cont-btn{
    display: flex;
    gap: 1rem;
}

.item2{
    display: flex;
    padding: 10px 0;
    font-size: 14px;
    color: rgba(0, 0, 0, .87);
}

.mdl-menu2{
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    padding: 8px 0;
    position: absolute;
    right: 10px;
    box-shadow: 
    0 2px 2px 0 rgba(0, 0, 0, .14), 
    0 3px 1px -2px rgba(0, 0, 0, .2), 
    0 1px 5px 0 rgba(0, 0, 0, .12);
    background: #fff;
    transition: all .3s ease;
}


.mdl-menu2-toggle{
    opacity: 1;
    visibility: visible;
    transform: translate(0);
}

.enlace{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 12rem;
    height: 2.5rem;
    font-size: 15px;
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.enlace:hover{
    background:rgba(56, 56, 56, 0.2);
}

.login{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 10rem;
    height: 2.5rem;
    font-size: 15px;
    background: #ffc107;
    border: none;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}

.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1px;
}

.menu_primary{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 90px;
    background: #33691e;
}

.menu-link{
    padding: 2rem 0;
    color: white;
}

.menu-link:hover{
    border-bottom: 1px solid white;
}

.box_slider{
    background: url(img/Rotador_HOME_1440x815_V2.jpg)
    center center / cover no-repeat;
    min-height: 700px;
}

.contain-color{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
    min-height: 700px;
    background: rgba(0, 0, 0, .50);
}

.contain-color p{
    padding: 20px;
}

.contain-color p .ins{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 66px;
    font-weight: 500;
    text-decoration: none;
}

.mdl-button2{
    padding-left: 1.5rem;
}

.icon3{
    border: 1px solid #fff;
    border-radius: 50%;
    padding: 15px;  
    color: #fff;
}

.news_section{
    padding: 80px calc(4% - 16px) 50px;
}

.news_title p{
    position: relative;
    font-size: 60px;
    color: #33691e;
    margin-bottom: 1rem;
}

.news_title p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: #33691e;
}

.grid_news{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.colm_news1{
    flex: 2;
}

.colm_news2{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    flex: 1;
}

.box_comp a img{
    max-width: 100%;
    object-fit: contain;
    width: 100%;
    height: 352px;
}

.box_new a img{
   min-width: 20%;
    object-fit: cover;
    height: 152px;
}

.paginate_custom{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin-top: 40px;
}

.tag{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 2px;
    color: #33691e;
    font-size: 12px;
}

.tag .material-symbols-outlined{
    color: #33691e;
}

.title1{
    font-weight: 400; /* esto define el tipo de letra del Roboto mira la doc en goggle fonts */
    font-size: 36px;
    color: rgba(0, 0, 0, .87);
    margin-top: 10px;
}

.title2{
    font-weight: 400;
    font-size: 1rem;
    line-height: 21px;
    letter-spacing: .15px;
    color: rgba(0, 0, 0, .6);
    margin-top: 10px;
}


.date_custom{
    font-weight: 100;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    color: rgba(0, 0, 0, rgba(0, 0, 0, .87));
    margin-top: 10px;
}

.title_indi{
    color: #33691e;
}

.section-separetor{
    display: block;
    padding: 1rem 0;
}

.separetor{
    height: 2px;
    width: 100%;
    background: #4e9c2f;
}

.cards_section{
    padding: 1rem 0;
}

.row_cards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 0;
}

.card_home{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px;
    margin: 0;
    min-width: 300px;
    height: 280px;
    transition: all .1s ease-in-out;
}

.card_home:hover{
    transform: scale(1.1);
}

.card_body p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight:500 ;
    font-size: 36px;
    letter-spacing: .26px;
    line-height: 42px;
    text-align: left;
    color: #fff;
}

.card_tag{
    display: flex;
}

.card_tag p{
    padding-top: 3.5px;
    padding-left: 1px;
    font-size: 12px;
    color: #fff;
}

.card_tag .material-symbols-outlined{
    color: #fff;
}

.date_num{
    font-weight:100 ;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    margin-bottom: 0;
    color: #fff;
}

.card_footer{
    display: flex;
    gap: 2rem;
}

.mdl-button3{
    background: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

.events-section{
    padding: 108px calc(4% - 16px);
}

.events-row{
    display: flex;
    gap: 2rem;
}

.sound-list{
    padding: 0 20px;
}

.element-row{
    display: flex;
    gap: 1rem;
}

.column-2{
    display: flex;
    gap: 1rem;
}

.image-container{
    border: 1px solid #33691e;
    padding: 10px;
}

.custom-button{
    display: flex;
    gap: 1rem;
    margin: 15px;
}

.custom-button p,
.custom-button span{
    color: #33691e;
    font-size: 20px;
}




.row_programs{
    display: flex;
    justify-content: center;
}


.colm-programs{
    padding: 40px 20px ;
    background-color: #33691e;
    flex: 2;
    
}

.tag_img{
    max-width: 100%;
    height: 100%;
    object-fit: cover;

}

.box_list a{
    margin: 10px 0;
}

.box_list a:hover{
    background-color: rgba(0, 0, 0, .12);
}

.copy_stn{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.list-button{
    display: flex;
}

.title{
    color: white;
    font-size: 14px;
}

.elem_copy{
    width: 250px;
}

.elem_icon{
    display: flex;
    justify-content: flex-end;
    color: white;
}

.list_item{
    flex: 2;
}

.list_item2{
    flex: 1;
}

.stn_title p {
    position: relative;
    font-size: 47px;
    color: white;
    margin-bottom: 1rem;
}

.stn_title p::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100px;
    height: 4px;
    background: white;
}

.copy p{
    font-weight: 400;
    font-size: 15px;
}

.action_btn{
    display: flex;
    margin-left: 1rem;
    margin-top: 1rem;
}

.btn_right p{
    opacity: 0;
}


.services-section{
    padding: 108px calc(4% - 16px);
}

.services-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 1rem;
}

.tam-img{
    width: 120px;
    height: 120px;
    object-fit: cover;
    max-width: 100%;
}

.service-card{
    display: flex;
    padding: 0;
    transition: transform .2s ease-in-out;
}

.service-card:hover{
    transform: scale(1.1);
}

.card-text a p{
    color: #fafafa;
    text-shadow: 3px 0px 3px #000;
    font-size: 20px;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}


.custom-header{
    padding: 45px 20px;
    background-color: #33691e;
}

.footer-row{
   display: flex;
   gap: 2rem;
}

.logo-section{
    flex: 1;
}

.links-section{
    flex: 2;
}

.links-row{
    display: flex;
}

.links-container{
    display: flex;
    flex-direction: column;
}

.links-container a{
    padding: 5px;
    color: white;
    font-size: 14px;
}

.social-container{
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px 0;
    font-size: 22px;
}

.social-container a {
    color: white;
}

.links-container a:hover{
    background-color: rgba(0, 0, 0, .12);
}

.footer-body p {
    margin: 10px 0;
    color: white;
    font-size: 13px;
}

.box_action{
    background: url(img/Acreditaciones+2024+ext.jpg)
                center center / cover no-repeat;

    min-width: 700px;
    min-height: 700px;
}

.box-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 10;
    padding: 0 30px;
    min-height: 700px;
    background: rgba(0, 0, 0, .50);
}

.box-info p{
    color: white;
    font-size: 80px;
}






























